@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary-font: "Libre Baskerville", serif;
  --secondary-font: "Roboto Slab", serif;
  --nav-font: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  --nav-background: rgb(75, 126, 139);
  --primary-color: #333;
  --secondary-color: #f9f9f9;
  --text-color: white;
  --h2-color: rgb(169, 48, 44);
  --h3-color: rgb(51, 51, 51);
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

h2 {
  color: var(--h2-color);
  font-family: var(--primary-font);
  font-size: 2em;
  margin-top: 0.25em;
}

p {
  font-family: var(--secondary-font);
  color: var(--h3-color);
}

header {
  background-color: var(--nav-background);
  color: var(--text-color);
  padding: 10px 0;
}

.logo {
  font-size: 1.8vh;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--nav-font);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 4vh;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--nav-font);
  letter-spacing: 2px;
}

.nav-list li {
  /* display: none; */
  /* Esconde os itens do menu por padrão */
  margin: 0 10px;
  /* Espaçamento entre os links */
}

/* Quando o menu está aberto, exiba os itens do menu com animação */
.nav-open .nav-list li {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.nav-list li a,
.logo {
  color: var(--text-color);
  text-decoration: none;
  /* Remove o sublinhado */
}

.nav-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 9998;
  margin-top: 0px;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  margin-left: auto;
  z-index: 9999;
}

.close-icon {
  font-size: x-large;
  color: var(--text-color);
  transition: transform 0.3s ease-in-out;
}

/* Inverte a rotação do ícone ao abrir o menu */
.nav-list.nav-open .close-icon {
  transform: rotate(180deg);
}
#imagemCabecalho {
  background-image: url("../img/praia/header.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 35vh;
  z-index: -1;
  /* Para garantir que a imagem fique atrás de outros conteúdos */
}

section:nth-of-type(2) {
  background-color: var(--secondary-color);
  padding: 20px;
  position: relative;
  margin-top: 26vh;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* text-align: center; */
  padding: 20px 0;
}

footer p,
footer a {
  color: var(--secondary-color);
  font-size: 0.9rem;
}

footer h3,
a {
  color: var(--secondary-color);
  margin-top: 0px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-col {
  flex: 1;
  margin: 10px 15px;
}

.footer-col p {
  margin-top: 0;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col li {
  margin: 5px 0;
}

/* Estilos para o dropdown de tradução */
.translator-dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  background: darkcyan;
  cursor: pointer;
}

.translator-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ddd;
}

.translator-dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.translator-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.translator-dropdown:hover .translator-dropdown-content {
  display: block;
}

/* Estilo usado na galeria de imagens */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.gallery-items {
  width: 340px;
  height: 340px;
  border: 10px solid #ffff;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform 0.25s linear;
}

.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover {
  transform: scale(1.025);
}

/* class reserva */
.reservas {
  background-color: #fffee9;
  padding: 20px;
  width: fit-content;
  font-size: small;
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.reservas fieldset {
  border: 0px;
}

.reservas legend {
  font-size: large;
}

.reservas label {
  display: block;
  margin-top: 10px;
}

.reservas input,
.reservas select {
  border: 1px solid lightgray;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

.reservas select {
  width: 20%;
  text-align: center;
  background: white;
}

/* class reserva submit */
.reservas input[type="submit"] {
  background-color: #8b704b;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}

/* Adicionando regras para a animação do botão clicado */
.reservas input[type="submit"]:active {
  background-color: #8c704b; /* Mudar a cor de fundo quando o botão é clicado */
  transform: scale(0.97); /* Adicionando um efeito de escala */
}

/* Estilo para o menu responsivo */

@media (max-width: 767px) {
  .nav-list:not(.nav-open) li {
    display: none;
    /* Esconde os itens individuais do menu em pequenas resoluções */
  }

  .nav-open .nav-list li {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }

  .mobile-menu {
    display: block;
    /* Mostra o menu hambúrguer em pequenas resoluções */
  }

  .footer-col {
    flex-basis: 100%;
    margin: 5px 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-list li {
    display: block;
    /* Mostra os itens individuais do menu em resoluções maiores */
  }

  .nav-list li:hover {
    background-color: var(
      --nav-background
    ); /* Adicione a cor desejada ao fundo do item do menu no hover */
  }

  .mobile-menu {
    display: none;
    /* Esconde o menu hambúrguer em resoluções maiores */
  }
}
