@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Slab:wght@300&display=swap");

:root {
  --primary-font: "Libre Baskerville", serif;
  --secondary-font: "Roboto Slab", serif;
  --nav-font: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  --nav-background: rgb(75, 126, 139);
  --primary-color: #333;
  --secondary-color: #f9f9f9;
  --text-color: white;
  --h2-color: rgb(169, 48, 44);
  --h3-color: rgb(51, 51, 51);

  /* ---------------------------------------------------------------- */
  --cor0: #a9302c;
  --cor1: #4b7e8b;
  --cor2: #333333;
  --cor3: #c98343;
  --cor4: #6c757d;
  --cor5: #4c5b4c;
  --primary-color: #333;
  --secondary-color: #f9f9f9;

  --fonte-experiencia: "Libre Baskerville", serif;
  --fonte-experiencia2: "Roboto Slab", serif;

  /* ---------------------------------------------------------------- */
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  top: 0px !important;
  /* para esconder a barra do google tradutor */
}

section {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--primary-font);
  color: #4b7e8b;
  font-size: 2rem;
}

h2 {
  color: #4b7e8b;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--secondary-font);
  color: var(--h3-color);
}

header {
  background-color: var(--nav-background);
  color: var(--text-color);
  padding: 10px 0;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}

.logo {
  font-size: 1.8vh;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--nav-font);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 4vh;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--nav-font);
  letter-spacing: 2px;
}

.nav-list li {
  /* display: none; */
  /* Esconde os itens do menu por padrão */
  margin: 0 10px;
  /* Espaçamento entre os links */
}

/* Quando o menu está aberto, exiba os itens do menu com animação */
.nav-open .nav-list li {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.nav-list li a,
.logo {
  color: var(--text-color);
  text-decoration: none;
  /* Remove o sublinhado */
}

.nav-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 9998;
  margin-top: 0px;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  margin-left: auto;
  z-index: 9999;
}

.close-icon {
  font-size: x-large;
  color: var(--text-color);
  transition: transform 0.3s ease-in-out;
}

/* Inverte a rotação do ícone ao abrir o menu */
.nav-list.nav-open .close-icon {
  transform: rotate(180deg);
}

#imagemCabecalho {
  background-image: url("../img/praia/header.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 35vh;
  z-index: -1;
  /* Para garantir que a imagem fique atrás de outros conteúdos */
  filter: blur(4px);
}

section:nth-of-type(2) {
  background-color: var(--secondary-color);
  padding: 20px;
  position: relative;
  margin-top: 35vh;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* text-align: center; */
  padding: 20px 0;
}

footer p,
footer a {
  color: var(--secondary-color);
  font-size: 0.9rem;
}

footer h3,
a {
  color: var(--secondary-color);
  margin-top: 0px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-col {
  flex: 1;
  margin: 10px 15px;
}

.footer-col p {
  margin-top: 0;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col li {
  margin: 5px 0;
}

/* Estilo usado na galeria de imagens */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.gallery-items {
  width: 340px;
  height: 340px;
  border: 10px solid #ffff;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform 0.25s linear;
}

.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover {
  transform: scale(1.025);
}

/* class reserva */
.reservas {
  background-color: #fffee9;
  font-size: small;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.reservas fieldset {
  border: 0px;
}

.reservas legend {
  font-size: large;
}

.reservas label {
  display: block;
  margin-top: 10px;
}

.reservas input,
.reservas select {
  border: 1px solid lightgray;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

.reservas select {
  width: 20%;
  text-align: center;
  background: white;
}

/* class reserva submit */
.reservas input[type="submit"] {
  background-color: #8b704b;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}

/* Adicionando regras para a animação do botão clicado */
.reservas input[type="submit"]:active {
  background-color: #8c704b;
  /* Mudar a cor de fundo quando o botão é clicado */
  transform: scale(0.97);
  /* Adicionando um efeito de escala */
}

/* ---------------------------------------------------------------- */
/* class contato */
.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
}

.coluna-50 {
  width: 340px;
  flex-grow: 1;
}

.fale_conosco {
  margin-bottom: 50px;
  padding: auto;
  text-decoration: solid;
}

.contato input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  position: relative;
  height: 35px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-radius: 2px;
  border-bottom: 2px solid #4b7e8b;
  margin-bottom: 25px;
  font-family: var(--secondary-font);
  padding: 0 10px;
}

.contato textarea {
  width: 90%;
  padding: 15px;
}

/* class página inicial */

h1.h1-inicio {
  font-family: var(--fonte-experiencia);
  color: var(--cor0);
  font-size: 30px;
  margin-bottom: 10px;
}

p.p-inicio {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

div.reserva-whatsapp {
  margin-top: 40px;
  height: 55px;
}

div.reserva-whatsapp img {
  height: 100%;
  /* Alinha componentes ao lado direito da imagem */
  float: left;
  margin-right: 20px;
}

p.p-whats {
  font-family: var(--fonte-experiencia2);
  color: var(--cor3);
}

div.imagem-whatsapp {
  width: 200px;
  height: 55px;
  padding-right: 0px;
  margin-right: -130px;
}

.imagems-exp {
  gap: 1vw;
}

img.imagem-1-exp {
  width: 40%;
  margin-top: 60px;
  border: none;
  box-shadow: none;
  object-fit: cover;
}

img.imagem-2-exp {
  width: 40%;
  border: none;
  box-shadow: none;
  object-fit: cover;
}

section.caixa-acomodacoes {
  background-color: #eaebec;
  padding: 20px;
  position: relative;
}

section.caixa-acomodacoes h1 {
  margin-left: 20px;
}

section.caixa-acomodacoes div.gallery-container img.gallery-items {
  width: 25%;
  height: auto;
  object-fit: cover;
}

section.caixa-infra {
  background-color: #6c757d;
  padding: 20px;
}

section#img01 {
  background-image: url(../img/praia/WhatsApp\Image\2020-08-25\at\17.30.31\\(
 1\
).jpeg);
  background-position: right center;
  padding: 20px;
  height: 450px;
  background-attachment: fixed;
}

h2.h2-depoi {
  font-family: var(--fonte-experiencia2);
  color: #ffff;
  font-size: 20px;
}

h1.h1-serv2 {
  font-family: var(--fonte-experiencia);
  color: var(--cor0);
  font-size: 30px;
  margin-bottom: 10px;
}

section#img01 h3 {
  color: white;
}

section#img01 p {
  color: white;
}

/* ---------------------------------------------------------------- */
/* Estilos para o google tradutor */
.skiptranslate,
#google_translate_element {
  display: none !important;
}

/* Estilos estilos do menu de tradução */
.ct-topbar {
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.ct-language {
  position: relative;
  background: darkcyan;
  color: #fff;
  padding: 10px 15px;
}

.ct-language:hover .ct-language__dropdown {
  max-height: 200px;
  padding-top: 8px;
}

.ct-language__dropdown {
  max-height: 0;
  width: max-content;
  overflow: hidden;
  position: absolute;
  top: 110%;
  left: -3px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-align: center;
  z-index: 200;
}

.ct-language__dropdown li {
  padding: 5px 15px;
  margin: 0;
  background: #222;
}

.ct-language__dropdown li:first-child {
  padding-top: 10px;
  border-radius: 3px 3px 0 0;
}

.ct-language__dropdown li:last-child {
  padding-bottom: 10px;
  border-radius: 0 0 3px 3px;
}

.ct-language__dropdown li a {
  display: block;
}

.ct-language__dropdown li:hover {
  background: #444;
}

.ct-language__dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 8px;
  border-left-width: 8px;
  border-bottom: 8px solid #222;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* Estilo para telas pequenas */
@media (max-width: 767px) {
  .footer-col {
    flex-basis: 100%;
    margin: 5px 0;
  }

  form {
    max-width: 100% !important;
  }

  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s ease-in-out;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(6px, -1px);
    background: #232323;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0px, 6px);
  }

  #menu {
    position: fixed;
    width: 100%;
    padding-left: 0;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    top: 0;
    left: -100%;
    height: 100%;
    text-align: center;
    margin: 0;
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked~ul {
    transform: translate(100%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Estilo para telas maiores */
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-list li {
    display: block;
    /* Mostra os itens individuais do menu em resoluções maiores */
    transition: transform 0.3s ease, text-shadow 0.3s ease;
  }

  .nav-list li:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px var(--text-color);
  }

  /* Estilo para o menu responsivo */
  #menuToggle input {
    display: none;
  }

  /* * Just a quick hamburger */
  #menuToggle span {
    display: none;
  }

  #menu {
    display: contents;
  }

  #menu li {
    padding: 10px 0;
    color: var(--text-color);
  }
}