

/* Estilos básicos para responsividade e acessibilidade */
body {
 /* font-family: Arial, sans-serif;*/
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  color: #8B704B;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 5px;
}
/* pagina principal - topico experiencia*/
div.experiencia {
  
  display: flex;
}

footer {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

section {
  padding: 20px;
}
