* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* background-color: lightgray; */
  border-radius: 16px;
  padding: 1.5rem 40px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.2rem;
  position: relative;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

input {
  padding: 0.2rem 0.5rem;
  z-index: 1000;
}

.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #505050;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
}

.required-popup.visible::after {
  max-height: 100%;
  transform: translate(0, -100%);
}

input.error {
  border: solid 2px #992020;
  /* background-color: #CCBBBB; */
  color: #662020;
}

input.correct {
  /* background-color: #BBCCBB; */
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}
